body {
  background-color: rgb(169, 128, 57, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: rgb(61, 31, 77);
    border: 3px solid;
    padding: 10px;
  }
  p.local-host {
    color: rgb(101, 24, 24);
  }
  div.picture {
    left: 0;
    right: 0;
    top: 30vh;
    bottom: 0;
    margin: 0;
    img {
      max-width: 50vw;
      max-height: 50vh;
      margin-top: 5px;
      margin-bottom: 35px;
    }
  }
  div.background-image {
    // background-image: url(../assets/img/photo-dandelion-field.jpg); //---> to nie działa
    background-size: cover;
    padding: 10px;
    border: 5px dashed black;
    width: auto;
    display: flex; //w tym wypadku zapewnia równe odstępy, marginesy, paddingi, itp.
    justify-content: center;
    align-items: center;
    // height: 250px; //w tym wypadku nie bez wysokości działa. Div przyjął wysokość swojego dziecka czyli <img>
    img {
      margin: 0;
      max-width: 80vw;
      max-height: 80vh;
    }
  }
}
